/*cards*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card p {
  color: #a3a5ae;
  font-size: 16px;
}

.image {
  float: right;
  max-width: 64px;
  max-height: 64px;
  /* position: absolute; */
}

.blue {
  border-left: 3px solid #4895ff;
}

.yellow {
  border-left: 3px solid #e4d836;
}

.red {
  border-left: 3px solid #ff0015;
}

.green {
  border-left: 3px solid #74b340;
}

.orange {
  border-left: 3px solid #ff9100;
}

.pink {
  border-left: 3px solid #E7889D;

}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}